<div class="animated fadeIn">
    <div class="row align-items-center">
        <div class="col-xl-2">
          <a href="#/roles/cluster-roles/new">
            <button type="button"  class="btn btn-block btn-success">
                <i class="fa fa-plus"></i> New Cluster Role    
            </button>
          </a>  
        </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Kubernetes Cluster Roles 
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Date registered</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Samppa Nori</td>
                  <td>2012/01/01</td>
                  <td>
                   
                      <button type="button" class="btn btn-sm btn-pill btn-success">
                        <a style="text-decoration: none; color: none" href="#/roles/cluster-roles/new" >
                          <i class="fa fa-pencil"></i> Edit &nbsp;&nbsp;
                        </a>
                      </button>
                    
                    
                    <button type="button" class="btn btn-sm btn-pill btn-danger">
                      <i class="fa fa-trash"></i> Delete
                    </button>
                  </td>
                </tr>
  
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->

  </div>
  