<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form class="form-horizontal" #clusterRoleForm="ngForm" (ngSubmit)="submitForm(clusterRoleForm)">
                    <div class="card-header">
                        <strong>Create Kubernetes Cluster Role </strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" for="text-input">Name</label>
                            <div class="col-md-10">
                                <input type="text" 
                                    id="clusterrole-name" 
                                    name="clusterrole-name" 
                                    class="form-control"
                                    [(ngModel)]="clusterRole.metadata.name"
                                    placeholder="name of the cluster role">
                            </div>
                        </div>
                        <div class="card card-accent-primary" *ngFor="let ag of apiGroupResources; index as agi">
                            <div class="card-header">
                                API Group: <strong> {{ag.group}} </strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Resource</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let resource of ag.resources ; index as ri">
                                            <td> {{ resource.name }}</td>
                                            <td>
                                                <div class="form-check form-check-inline mr-1"
                                                    *ngFor="let action of resource.actions ; index as ai">
                                                    <input class="form-check-input" 
                                                        type="checkbox"
                                                        id="clusterrole-actions-{{ag.group}}-{{resource.name }}-{{action.verb}}"
                                                        value="true" 
                                                        [checked]="apiGroupResources[agi].resources[ri].actions[ai].selected == 'true'"
                                                        [(ngModel)]="apiGroupResources[agi].resources[ri].actions[ai].selected"
                                                        name="actions-{{resource.name }}-{{action.verb}}" >
                                                    <label class="form-check-label" 
                                                        for="clusterrole-actions-{{ag.group}}-{{resource.name }}-{{action.verb}}">
                                                        {{action.verb}}
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                            Submit</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </form>
            </div>

        </div>

    </div>