<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form class="form-horizontal" #roleForm="ngForm" (ngSubmit)="submitForm(roleForm)">
                    <div class="card-header">
                        <strong>Create Assignment to Role </strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-1 col-form-label" for="text-input">Name:</label>
                            <div class="col-md-3">
                                <input type="text" 
                                    id="rolebinding-name" 
                                    name="rolebinding-name" 
                                    class="form-control"
                                    [disabled]="isEdit"
                                    required
                                    [(ngModel)]="roleBinding.metadata.name"
                                    placeholder="name">
                            </div>
                            <label class="col-md-1 col-form-label" for="text-input">Namespace:</label>
                            <div class="col-md-3">
                                <select id="nsFilter" 
                                    name="nsFilter" 
                                    title="--namespace--" 
                                    [(ngModel)]="roleBinding.metadata.namespace" 
                                    [disabled]="isEdit"
                                    (change)="filterRoleByNamespace()" 
                                    class="form-control form-control-md">
                                    <option value="">-- Please select --</option>
                                    <option *ngFor="let ns of namespaceList.items" [value]="ns.metadata.name">{{ns.metadata.name}}</option>          
                                </select>
                            </div>
                            <label class="col-md-1 col-form-label" for="text-input">Role:</label>
                            <div class="col-md-3">
                                <select id="role" 
                                    name="role" 
                                    [(ngModel)]="role"  
                                    class="form-control form-control-md" 
                                    required 
                                    [disabled]="isEdit"> 

                                    <option value="">-- Please select --</option>
                                    <option *ngFor="let cr of roleList.items" [ngValue]="cr">{{cr.metadata.name}}</option>          
                                </select>
                            </div>
                        </div>
                        <div class="card card-accent-primary" >
                            <div class="card-header">
                                Users
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                    <tag-input [(ngModel)]='users'
                                        placeholder="+ User"
                                        trimTags
                                        theme='bootstrap'
                                        name="users" 
                                        secondaryPlaceholder="Add users">
                                    </tag-input>
                                </div>
                            </div>
                        </div>
                        <div class="card card-accent-success" >
                            <div class="card-header">
                                Groups
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                    <tag-input [(ngModel)]='groups'
                                        placeholder="+ Group"
                                        trimTags
                                        name="groups" 
                                        theme='bootstrap'
                                        secondaryPlaceholder="Add groups">
                                    </tag-input>
                                </div>
                            </div>
                        </div>
                        <div class="card card-accent-warning" >
                            <div class="card-header">
                                Service Accounts
                            </div>
                        
                            <div class="card-body">
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                    <ng-select
                                        [items]="serviceAccountList | async"
                                        [multiple]="true"
                                        [closeOnSelect]="false"
                                        [hideSelected]="true"
                                        bindLabel="name"
                                        bindValue="name" 
                                        name="service-accounts"
                                        placeholder="Select Service Account"
                                        [(ngModel)]="serviceAccounts">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="icon-paper-plane"></i>
                            Submit</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="icon-action-undo"></i> Reset</button>
                    </div>
                </form>
            </div>

        </div>

    </div>