<div class="animated fadeIn">

  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <form class="form-horizontal" #clusterRoleForm="ngForm" (ngSubmit)="submitForm(clusterRoleForm)">
                  <div class="card-header">
                      <strong> Service Account </strong>
                  </div>
                  <div class="card-body">
                      <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="role-name">Name:</label>
                          <div class="col-md-3 ">
                              <input type="text" 
                                  id="sa-name" 
                                  name="sa-name" 
                                  class="form-control"
                                  [disabled]="isEditServiceAccount"
                                  [(ngModel)]="sa.metadata.name"
                                  placeholder="service account name">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="role-ns">Namespace:</label>
                          <div class="col-md-3">
                              <select id="role-ns" name="role-ns" [(ngModel)]="sa.metadata.namespace"  class="form-control form-control-md" required [disabled]="isEditServiceAccount"> 
                                  <option value="">-- Please select --</option>
                                  <option *ngFor="let ns of namespaceList.items" [value]="ns.metadata.name">{{ns.metadata.name}}</option>          
                              </select>
                          </div>     
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="role-ns">Mount Token Automatically:</label>
                        <div class="col-md-3">
                          <div class="form-check form-check-inline mr-2" >
                            <label class="switch switch-sm switch-label switch-pill switch-primary">
                                  <input type="checkbox" 
                                      class="switch-input" 
                                      id="automount-token"
                                      value="true" 
                                      [(ngModel)]="sa.automountServiceAccountToken"
                                      name="automount-token"
                                      [checked]="sa.automountServiceAccountToken == 'true'">
                                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                                  
                            </label>
                          </div>
                       
                        </div>     
                      </div>
                    
                  </div>
                  <div class="card-footer">
                      <button type="submit" class="btn btn-sm btn-primary"><i class="icon-paper-plane"></i> Submit</button>
                      <button type="reset" class="btn btn-sm btn-danger"><i class="icon-action-undo"></i> Reset</button>
                  </div>
              </form>
          </div>

      </div>

  </div>